	<!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.url }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.url }}"></script>

   <!-- Chatbox JavaScript -->
   <script src="{{ "/js/chatbox.js" | prepend: site.url }}"></script>

   <!-- pwa register JavaScript -->
   <script type="text/javascript">
      if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
          console.log("An active service worker found, no need to register");
        } else {
          // Register the service worker
          navigator.serviceWorker.register("{{ '/serviceworker.js' | prepend: site.url }}", {
              scope: "./"
            })
            .then(function (reg) {
              console.log("Service worker has been registered for scope: " + reg.scope);
            });
        }
      }
   </script>

   <!-- pwa - auto installation -->
   <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall@latest/dist/pwa-install.min.js"></script>

   <script type="module" src="https://unpkg.com/@microsoft/mgt/dist/bundle/mgt-loader.js"></script>

   
