<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide the best ! We manufacture the smartest solutions !</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web, desktop nd mobile applications</h4>
                    <p class="text-muted">We design and develop <span>smart web sites</span> and <span>smart android apps</span>, with <span>Artificial Intelligence</span> backed inside. We use the latest <span>UX design techniques</span> to assist your teams.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robust and reliable infrastructure</h4>
                    <p class="text-muted">We design robust and cost efficient solutions by using the best datacenter and cloud providers in the world. We are cloud first solution providers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Awesome prices</h4>
                    <p class="text-muted">Your solutions will be designed in Paris and developed in Lomé, to provide the best quality at very competitive prices. The best and latest technologies at competitives cost.</p>
                </div>
            </div>
        </div>
    </section>