<!DOCTYPE html>
<html lang="en">
  {% include flexstart-head.html %}
  <body>
    {% include flexstart-header.html %} 
    {% include flexstart-hero.html %} 
        
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

          <div class="container" data-aos="fade-up">
            <div class="row gx-0">

              <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                  <h3>Who We Are</h3>
                  <h2>Our playground is the web</h2>
                  <p>
                    We help our customers thrive in e-commerce, articifial intelligence and cloud solutions.
                  </p>
                  <div class="text-center text-lg-start">
                    <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                      <span>Read More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="/assets/flexstart-img/about.jpg" class="img-fluid" alt="">
              </div>

            </div>
          </div>

        </section><!-- End About Section -->

        <!-- ======= Values Section ======= -->
        <section id="values" class="values">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Our Values</h2>
              <p>Uprightness and Trust</p>
            </header>

            <div class="row">

              <div class="col-lg-4">
                <div class="box" data-aos="fade-up" data-aos-delay="200">
                  <img src="/assets/flexstart-img/values-1.png" class="img-fluid" alt="">
                  <h3>Give you the right solutions</h3>
                  <p>Help you thrive with the rigth solution. We push you up.</p>
                </div>
              </div>

              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="400">
                  <img src="/assets/flexstart-img/values-2.png" class="img-fluid" alt="">
                  <h3>Be there to help</h3>
                  <p>We hear, not only listen.</p>
                </div>
              </div>

              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                  <img src="/assets/flexstart-img/values-3.png" class="img-fluid" alt="">
                  <h3></h3>Build trust.</h3>
                  <p>Tell you the truth even if it is not easy.</p>
                </div>
              </div>

            </div>

          </div>

        </section><!-- End Values Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container" data-aos="fade-up">

            <div class="row gy-4">

              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happy Clients</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="121" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects (with returning customers)</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-headset" style="color: #15be56;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-people" style="color: #bb0852;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hard Workers</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Counts Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Features</h2>
              <p>Help you thrive with the rigth solution. We push you up.</p>
            </header>

            <!-- Feature Icons -->
            <div class="row feature-icons" data-aos="fade-up">
              <!-- <h3>Ratione mollitia eos ab laudantium rerum beatae quo</h3> -->

              <div class="row">

                <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
                  <img src="/assets/flexstart-img/features.png" class="img-fluid p-4" alt="">
                </div>

                <div class="col-xl-6 d-flex content">
                  <div class="row align-self-center gy-4">

                    <div class="col-md-6 icon-box" data-aos="fade-up">
                      <i class="ri-line-chart-line"></i>
                      <div>
                        <h4>e-Commerce</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                      <i class="ri-stack-line"></i>
                      <div>
                        <h4>AI Models</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                      <i class="ri-brush-4-line"></i>
                      <div>
                        <h4>Event platforms (for virtual events)</h4>
                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                      <i class="ri-magic-line"></i>
                      <div>
                        <h4>AI powered apps</h4>
                        <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                      <i class="ri-command-line"></i>
                      <div>
                        <h4>Automate your process</h4>
                        <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                      <i class="ri-radar-line"></i>
                      <div>
                        <h4>Web solutions</h4>
                        <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div><!-- End Feature Icons -->

          </div>

        </section><!-- End Features Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Portfolio</h2>
              <p>Check our latest work</p>
            </header>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-app">App</li>
                  <li data-filter=".filter-ai">AI</li>
                  <li data-filter=".filter-web">Web</li>
                  <li data-filter=".filter-cloud">Cloud</li>
                </ul>
              </div>
            </div>

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

              {% for post in site.services %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{ post.type }}">
                <div class="portfolio-wrap">
                  <img src="/img/portfolio/thumbnail/{{ post.thumbnail }}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.subtitle }}</p>
                    <div class="portfolio-links">
                      <a href="/img/portfolio/thumbnail/{{ post.thumbnail }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                      <a href="{{ post.url }}" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>

          </div>

        </section><!-- End Portfolio Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Testimonials</h2>
              <p>What they are saying about us</p>
            </header>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      Amazing service, consultation and delivery! Top seller here on Fiverr and will be using his services many times again.. highly recommended!
                    </p>
                    <div class="profile mt-auto">
                      <img src="/assets/flexstart-img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                      <h3>Bundi123</h3>
                      <h4>Ceo &amp; Founder</h4>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                    </div>
                    <p>
                      Very close to the project, he tried to do the best and spend many time developing my idea. thanks!
                    </p>
                    <div class="profile mt-auto">
                      <img src="/assets/flexstart-img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                      <h3>Jordilinares</h3>
                      <h4>Designer</h4>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                    </div>
                    <p>
                      Very good communication, performed good configuration. Will use again!
                    </p>
                    <div class="profile mt-auto">
                      <img src="/assets/flexstart-img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                      <h3>Sonnydriscoll</h3>
                      <h4>Entrepreneur</h4>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      He is a perfect bot developer, please patronise this talented seller Thanks for the awesome work, I will come back again.
                    </p>
                    <div class="profile mt-auto">
                      <img src="/assets/flexstart-img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                      <h3>Marketing_ass</h3>
                      <h4>Freelancer</h4>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </section><!-- End Testimonials Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Team</h2>
              <p>Our hard working team</p>
            </header>

            <div class="row gy-4">

              {% for member in site.people %}
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                  <div class="member-img">
                    <img src="/img/team/flexstart/{{ member.pic }}.jpg" class="img-fluid" alt="">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>{{ member.name }}</h4>
                    <span>{{ member.position }}</span>
                    <p>{{ member.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>

          </div>

        </section><!-- End Team Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Our Clients</h2>
              <p>We value these connections.</p>
            </header>

            <div class="clients-slider swiper-container">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-8.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-9.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/assets/flexstart-img/clients/client-10.png" class="img-fluid" alt="" style="background-color: #cecece;"></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

        </section><!-- End Clients Section -->

        {% include flexstart-blogposts.html %}

        {% include flexstart-contact.html %}

      </main><!-- End #main -->
  
    {% include flexstart-footer.html %}
  </body>
</html>
