---
layout: flexstart-default
---

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/{{ page.lang }}/index.html">Home</a></li>
          <li><a href="/{{ page.lang }}/blog.html">Blog</a></li>
          <li>{{ page.title }}</li>
        </ol>
        <h2>{{ page.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">{{ page.title }}</a>
              </h2>

              <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
              {% if site.adsense == "enabled" %}
                  {% include adsense-under-header.html %}
              {% endif %}
              <!-- End Adsense -->

              <div class="entry-meta">
                {% assign author = site.authors[page.author] %}
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{ author.web }}">{{ author.display_name }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> 
                    <a href="blog-single.html">
                      <time datetime="{{ page.date | date: '%Y-%m-%d %H:%M' }}">{{ page.date | date: '%b %-d, %Y' }} ({{ page.date | timeago }})</time>
                      <small>
                        {% if page.last_modified_at %}
                          (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                        {% endif %}
                      </small>
                    </a>
                  </li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">

                {{ content}}

              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  {% assign sortedCategories = page.categories | sort %}
                  {% for category in sortedCategories %}
                  <li><a href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">
                    {{ category }}
                  </a></li>
                  {% endfor %}
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  {% assign sortedTags = page.tags | sort %}
                  {% for tag in sortedTags %}
                  <li><a href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              {% if author.avatar %}
              <img src="{{site.baseurl}}/{{ author.avatar }}" class="rounded-circle float-left" alt="{{ author.display_name }}">
              {% else %}
              <img src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" class="rounded-circle float-left" alt="{{ author.display_name }}">
              {% endif %}
              
              <div>
                <h4>{{ author.display_name }}</h4>
                <div class="social-links">
                  <a href="{{ author.twitter }}"><i class="bi bi-twitter"></i></a>
                  <a href="{{ author.facebook }}"><i class="bi bi-facebook"></i></a>
                  <a href="{{ author.instagram }}"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  {{ author.description }}
                </p>
              </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">8 Comments</h4>

              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="/assets/img/blog/comments-1.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                      Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->

              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="/assets/img/blog/comments-2.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-3.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan, 2020</time>
                      <p>
                        Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                        Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                        Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                      </p>
                    </div>
                  </div>

                  <div id="comment-reply-2" class="comment comment-reply">
                    <div class="d-flex">
                      <div class="comment-img"><img src="/assets/img/blog/comments-4.jpg" alt=""></div>
                      <div>
                        <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan, 2020</time>
                        <p>
                          Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                        </p>
                      </div>
                    </div>

                  </div><!-- End comment reply #2-->

                </div><!-- End comment reply #1-->

              </div><!-- End comment #2-->

              <div id="comment-3" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="/assets/img/blog/comments-5.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                      Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                    </p>
                  </div>
                </div>

              </div><!-- End comment #3 -->

              <div id="comment-4" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="/assets/img/blog/comments-6.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                    </p>
                  </div>
                </div>

              </div><!-- End comment #4 -->

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
                  <input type="text" class="launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Type and enter...">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><div id="lunrsearchresults">
                  <ul></ul>
              </div>

              
              <!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  
                  {% assign sortedCategories = site.categories %}
                  {% for category in sortedCategories %}
                  <li><a href="{{ site.baseurl }}/category/{{ category[0] }}">{{ category[0] }} <span>({{ category[1].size }})</span></a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% assign posts=site.posts | where:"lang", page.lang %}

                {% for post in posts limit:4 %}
                <div class="post-item clearfix">
                  <!-- <img src="/assets/img/blog/blog-recent-1.jpg" alt="{{ post.title }}"> -->
                  {% if post.image %} 
                    {% if site.lazyimages == "enabled" %} 
                    <img class="img-fluid"
                          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                          data-src="{% if post.image contains "://" %}{{ post.image }}{% else
                    %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title
                    }}"> 
                    
                    {% else %} 
                    
                    <img class="img-fluid" src="{% if post.image
                    contains '://' %}{{ post.image }}{% else %}{{ site.baseurl
                    }}/img/portfolio/{{ post.image }}{% endif %}" alt="{{ post.title
                    }}"> 
                    {% endif %} 
                  {% endif %}
                  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                  <time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}">{{ post.date | date: '%A %d %B, %Y' }}</time>
                </div>
                {% endfor %}

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  {% assign sortedTags = page.tags | sort %}
                  {% for tag in sortedTags %}
                  <li><a href="{{site.baseurl}}/tags#{{ tag | replace: ' ','-' }}">#{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
