---
layout: flexstart-default
---

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/index.html">Home</a></li>
        <li>Portfolio Details</li>
      </ol>
      <h2>Portfolio Details</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper-container">
            <div class="swiper-wrapper align-items-center">
              {% for image in page.images %}
              <div class="swiper-slide">
                <img src="{{ image.path }}" alt="{{ image.alt-text }}" />
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{ page.category}}</li>
              <li><strong>Client</strong>: {{ page.client }}</li>
              <li>
                <strong>Project date</strong>: {{ page.date | date: "%b %-d, %Y"
                }}
              </li>
              <li>
                <strong>Project URL</strong>:
                <a href="#">{{ page.external_url }}</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <p>{{ content}}</p>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
